.wrapper.location
    .container
        .location-content
            .location-content__title Popular Location
            .location-content__subtitle For every one of us, travel came first. We’ve spent years living as nomads, pioneers, and voyagers— from island hopping in the
        .location-popular
            .location-popular__item
                .location-popular__item-icon
                    img(src="./assets/img/location/turkey.png", alt="turkey")
                .location-popular__item-title Istanbul, Turkey
                .location-popular__item-subtitle Istanbul is a major city in Turkey that straddles Europe. 
            .location-popular__item
                .location-popular__item-icon
                    img(src="./assets/img/location/malaysia.png", alt="malaysia")
                .location-popular__item-title Kuala Lumpur, Malaysia
                .location-popular__item-subtitle A 272-step long trek leads you to this century.
            .location-popular__item
                .location-popular__item-icon
                    img(src="./assets/img/location/korea.png", alt="korea")
                .location-popular__item-title Seoul, South Korea
                .location-popular__item-subtitle South Korea officially the Republic of Korea is a country in East Asia.