.wrapper.about#about
    .container
        .about-content
            .about-content__title From Blog & News
            .about-content__subtitle Welcome to Community Conversations, a new interview series featuring Intrepid travellers, creatives and activists in our community.
        .about-description 
            .about-description-main
                .about-description-main__img
                    img(src="./assets/img/about/1.png", alt="")
                .about-description-main__title Banff National Park
                .about-description-main__subtitle Banff National Park lies in the heart of the majestic Rocky Mountains in the province of Alberta, and showcases some of Canada's most beautiful scenery. Turquoise-colored lakes, snow-capped peaks, and glaciers are all easily accessible 
                .about-description-main__dogs @thomasalva_adison
            .about-description-other
                .about-description-other-item
                    .about-description-other-item__img
                        img(src="./assets/img/about/2.png", alt="")
                    .about-description-other-item-content
                        .about-description-other-item-content__title The Hiroshima Peace!
                        .about-description-other-item-content__subtitle It was formally opened to the public in August that year.
                        .about-description-other-item-content__dogs @shova_bd88
                .about-description-other-item
                    .about-description-other-item__img
                        img(src="./assets/img/about/3.png", alt="")
                    .about-description-other-item-content
                        .about-description-other-item-content__title The faithful prayers!
                        .about-description-other-item-content__subtitle A major pilgrimage center for Hindus, the holy city.
                        .about-description-other-item-content__dogs @adem/smith
                .about-description-other-item
                    .about-description-other-item__img
                        img(src="./assets/img/about/4.png", alt="")
                    .about-description-other-item-content
                        .about-description-other-item-content__title Colourful waters!
                        .about-description-other-item-content__subtitle Forest-driven water and energy cycles are poorly.
                        .about-description-other-item-content__dogs @jhon7leew
                