.about-content {
    margin: 0 auto;
    margin-bottom: 50px;
    text-align: center;
    width: 50%;
    &__title {
        @include first-font;
        font-size: 43px;
        line-height: 60px;
        font-weight: 500;
        margin-bottom: 20px;
    }
    &__subtitle {
        @include second-font;
        font-size: 18px;
        line-height: 29px;
        font-weight: 400;
        opacity: 0.6;
    }
}

.about-description {
    display: flex;
    justify-content: space-between;

    &-main {
        width: 555px;
        &__img {
            width: 100%;
            margin-bottom: 35px;
        }

        &__title,&__subtitle {
            width: 80%;
            margin-bottom: 10px;
            text-align:justify;
        }
        &__title {
            @include first-font;
            font-size: 20px;
            line-height: 32px;
            font-weight: 500;
        }
        &__subtitle {
            @include second-font;
            font-size: 18px;
            line-height: 29px;
            font-weight: 400;
            opacity: 0.6;
        }
        &__dogs {
            @include second-font;
            font-size: 20px;
            line-height: 32px;
            font-weight: 500;
        }
    }
    &-other {
        width: 555px;
        &-item {
            display: flex;
            margin-bottom: 30px;
            &:last-child{
                margin-bottom: 0px;
            }
            &__img {
                width: 100%;
                margin-right: 27px;
                img {
                    max-width: 260px;
                    height: 100%;
                }
            }
        
            &-content {
                display: flex;
                flex-direction: column;
                justify-content: center;
                            
                &__title,&__subtitle {
                    margin-bottom: 10px;
                }
                &__title {
                    @include first-font;
                    font-size: 20px;
                    line-height: 32px;
                    font-weight: 500;
                }
                &__subtitle {
                    @include second-font;
                    font-size: 18px;
                    line-height: 29px;
                    font-weight: 400;
                    opacity: 0.6;
                }
                &__dogs {
                    @include second-font;
                    font-size: 20px;
                    line-height: 32px;
                    font-weight: 500;
                }
            }
        }
    }
}
