.wrapper.blog
    .container
        .blog-content
            .blog-content__title Special Offers
            .blog-content__subtitle With the New Year comes a refreshing sense of wanderlust, a longing in our souls to escape to warmer climates, 
        .sim-slider
            ul.sim-slider-list
                li
                    img(src="http://pvbk.spb.ru/inc/slider/imgs/no-image.gif" alt="screen") 
                li.sim-slider-element
                    img(src="./assets/img/slaidericons/statueofliberty.png" alt="0")
                li.sim-slider-element
                    img(src="./assets/img/slaidericons/thegreatwall.png" alt="1")
                li.sim-slider-element
                    img(src="./assets/img/slaidericons/dizin.png" alt="2")
                li.sim-slider-element
                    img(src="./assets/img/slaidericons/sajek.png" alt="3")
                li.sim-slider-element
                    img(src="./assets/img/slaidericons/osaka.png" alt="4")
            .sim-slider-arrow-left
            .sim-slider-arrow-right
            .sim-slider-dots
