.wrapper.blog
    .container
        .blog-content
            .blog-content__title Special Offers
            .blog-content__subtitle With the New Year comes a refreshing sense of wanderlust, a longing in our souls to escape to warmer climates, 
        .sim-slider
            .sim-slider-list
                .sim-slider-element
                    .sim-slider-element__img
                        img(src="./assets/img/slaidericons/statueofliberty.png", alt="")
                    .sim-slider-element__content 
                        .name Statue of Liberty
                        .point
                            .mappoint
                                img(src="./assets/img/slaidericons/mappoint.png", alt="")
                                .country New York
                            .star 
                                img(src="./assets/img/slaidericons/star.png", alt="")
                                .rating 4.8
                        .days 4 Day 5 Nights
                        .coast
                            span.prefix 450/
                            span.postfix person
                .sim-slider-element
                    .sim-slider-element__img
                        img(src="./assets/img/slaidericons/thegreatwall.png" alt="1")
                    .sim-slider-element__content 
                        .name The Great Wall 
                        .point
                            .mappoint
                                img(src="./assets/img/slaidericons/mappoint.png", alt="")
                                .country China
                            .star 
                                img(src="./assets/img/slaidericons/star.png", alt="")
                                .rating 4.9
                        .days 7 Day 8 Nights
                        .coast
                            span.prefix 850/
                            span.postfix person
                .sim-slider-element
                    .sim-slider-element__img
                        img(src="./assets/img/slaidericons/dizin.png" alt="2")
                    .sim-slider-element__content 
                        .name Dizin 
                        .point
                            .mappoint
                                img(src="./assets/img/slaidericons/mappoint.png", alt="")
                                .country Iran
                            .star 
                                img(src="./assets/img/slaidericons/star.png", alt="")
                                .rating 4.6
                        .days 5 Day 6 Nights
                        .coast
                            span.prefix 550/
                            span.postfix person
                .sim-slider-element
                    .sim-slider-element__img
                        img(src="./assets/img/slaidericons/sajek.png" alt="3")
                    .sim-slider-element__content 
                        .name Sajek Walley
                        .point
                            .mappoint
                                img(src="./assets/img/slaidericons/mappoint.png", alt="")
                                .country Bangladesh
                            .star 
                                img(src="./assets/img/slaidericons/star.png", alt="")
                                .rating 4.7
                        .days 3 Day 4 Nights
                        .coast
                            span.prefix 400/
                            span.postfix person
                .sim-slider-element
                    .sim-slider-element__img
                        img(src="./assets/img/slaidericons/osaka.png" alt="4")
                    .sim-slider-element__content 
                        .name Osaka Castle 
                        .point
                            .mappoint
                                img(src="./assets/img/slaidericons/mappoint.png", alt="")
                                .country Japan
                            .star 
                                img(src="./assets/img/slaidericons/star.png", alt="")
                                .rating 4.7
                        .days 4 Day 5 Nights
                        .coast
                            span.prefix 700/
                            span.postfix person
            .sim-slider-arrow-left
            .sim-slider-arrow-right
            .sim-slider-dots
