.wrapper.home
    .container
        .home-header
            .home-header__logo Trevland
            .home-header__nav
                ul
                    li 
                        a(href="#") Home 
                    li 
                        a(href="#") Location
                    li 
                        a(href="#") Blog
                    li 
                        a(href="#") About
                    li 
                        a(href="#") Contact
            .home-header__button.main-btn
                a(href="#") Booking Now
        .home-content
            .home-content__title Railtrips To Here, There And Everywhere!
            .home-content__subtitle We all wish to start our year the best way possible and also according to a common belief if you have a great start to your.
            .home-content__button.main-btn
                a(href="#") Explore More