doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Traveland
    body 
        include ./includes/home/home.pug
        include ./includes/location/location.pug
        include ./includes/blog/blog.pug
        include ./includes/about/about.pug
        include ./includes/contact/contact.pug