@import './includes/normalize.scss';
@import './includes/fonts.scss';
@import './includes/home/home.scss';
@import './includes/location/location.scss';
@import './includes/blog/blog.scss';
@import './includes/about/about.scss';
@import './includes/contact/contact.scss';


.wrapper {
    margin-bottom: 140px;
}
.container {
    max-width: 1140px;
    margin: 0 auto;
}

.main-btn {
    @include second-font;
        a {
            text-decoration: none;
            color: white;
            background: #C9453B;
            border-radius: 5px;
            padding: 14px 36px;
            transition: 0.3s;
            &:hover {
                background-color: orange;
                color: black;
            }
        }
}