footer.contact
    .container
        .contact-items
            .contact-items-social
                .contact-items-social__logo Trevland
                .contact-items-social__title Contact us
                .contact-items-social__subtitle @shovasatkhira88.com
                .contact-items-social__networks
                    a(href="http://facebook.com") 
                        img(src="./assets/img/contact/facebook.png", alt="")
                    a(href="http://instagram.com") 
                        img(src="./assets/img/contact/inst.png", alt="")
                    a(href="http://twitter.com") 
                        img(src="./assets/img/contact/twitter.png", alt="")
                    a(href="http://google.com")     
                        img(src="./assets/img/contact/google.png", alt="")

            .contact-items-links
                .contact-items-links__1
                    ul
                        li 
                            a(href="#") Services
                        li 
                            a(href="#") About
                        li 
                            a(href="#") Our story
                        li 
                            a(href="#") Benefits
                        li 
                            a(href="#") Brandings

                .contact-items-links__2
                    ul
                        li 
                            a(href="#") Legal 
                        li 
                            a(href="#") Term & Conditions
                        li 
                            a(href="#") Privecy Policy
                        li 
                            a(href="#") Term of use
            .contact-items-subscribe
                .contact-items-subscribe__title SUBSCRIBE NOW
                .contact-items-subscribe__form.main-btn 
                    form(action="")
                        input(type="text" placeholder="Email")
                        a(href="#") Send